@layout('layouts/main')

@section('body')
    <div class="px-10 py-5">
        <h1 class ="text-3xl">Assista a vídeos publicados por outros usuários e publique seus próprios vídeos!</h1>
        <h2 class ="text-2xl px-10 pt-4">Faça o login e comece a explorar!</h2>
        <p class ="text-2xl px-10">Caso não tenha login, faça já o seu cadastro!</p>
    </div>
@endsection
